<ion-header>
  <ion-navbar>
    <ion-title>{{ pageName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      DETALLES
    </ion-list-header>
    <ion-item *ngIf="netInfo != null">
      SSID : {{ netInfo.SSID }}
    </ion-item>
    <ion-item *ngIf="netInfo != null">
      BSSID : {{ netInfo.BSSID }}
    </ion-item>
    <ion-item *ngIf="netInfo != null">
      linkSpeed : {{ netInfo.linkSpeed }}
    </ion-item>
    <ion-item>
      <ion-label>Wifi</ion-label>
      <ion-toggle slot="start" [(ngModel)]="isWifiOn" disabled="true" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Es soportado</ion-label>
      <ion-toggle slot="start" [(ngModel)]="isWifiSuported" disabled="true" color="secondary"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      REDES
    </ion-list-header>
    <ion-item *ngIf="networkList.length > 0">
      Listado de redes
    </ion-item>
    <ion-item *ngFor="let net of networkList">
      {{ net.SSID }}
    </ion-item>
    <ion-item *ngIf="networkList.length == 0" >
      <ion-label>No hay redes disponibles</ion-label> 
    </ion-item>
  </ion-list>
  
</ion-content>
